*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height:100vh;
    width:100vw;
    background: linear-gradient(black 15%, rgb(41, 41, 41) );
    padding:5rem;
}

h1{
    color:white;
    text-align: center;
    height: 5rem;
    font-size: 48px;
}

#results{
    color:white;
    text-align: center;
}

#container{
    display: flex;
    justify-content: center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}
.choiceContainer{
    position:relative;
    display:flex;
    background-color: white;
    width: 250px;
    height: 250px;
    margin:50px;
    border-radius: 16px;
    color: gray;
    font-size: 36px;
    font-weight: 400;
    justify-content: center;
    padding: 15px 30px;
    font-family: Pacifico;
    transition:all 350ms ease;
    align-items: flex-end;
}

.choiceContainer:hover{
    transform: translateY(-5%);
    cursor:pointer;
}

.icon{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -150%) scale(2.5)

}
