body{
    background-color: black;
}

h1{
    color:white;
    text-align: center;
    height: 275px;
    justify-content: center;
    line-height: 275px;
    font-size: 48px;
}

#container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.choiceContainer{
    display:flex;
    background-color: white;
    width: 250px;
    height: 250px;
    margin:50px;
    border-radius: 16px;
    color: gray;
    font-size: 36px;
    font-weight: 400;
    justify-content: center;
    padding: 15px 30px;
    font-family: Pacifico;
    transition:all 350ms ease;
}

.choiceContainer:hover{
    transform: translateY(-5%);
}